<div class="container-fluid">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 shadow-lg">
            <div class="container-fluid mt-5 text-center">
                <h1 class="text-white">
                    <%= page.title %>
                </h1>
                <p class="mt-2 text-secondary">
                    <%- date(page.date, "YYYY.MM.DD" ) %>
                </p>
            </div>

            <article class="container-fluid text-white">
                <%- page.more %>
            </article>
        </div>
        <div class="col-3"></div>
    </div>
</div>