<div class="container-fluid mt-5 md-5">
    <div class="row">
        <div class="col"></div>
        <div class="col-12 col-lg-7 shadow-lg">
            <div class="container-fluid mt-5 text-center">
                <h1 class="text-white">
                    <%= page.title %>
                </h1>
                <p class="mt-2 text-secondary">
                    <%- date(page.date, "YYYY.MM.DD" ) %>
                </p>
                <%- partial("_components/post_tag_category_row", {post: page}) %>
            </div>

            <article class="container-fluid text-white">
                <%- page.more %>
            </article>
        </div>

        <div class="col"></div>
    </div>
</div>