<% let post_time=post.updated ? post.updated : post.date; %>

    <div class="container-fluid p-3 mb-5 text-center bg-dark bg-gradient bg-shadow-lg rounded-3">
        <a href="<%- url_for(post.path) %>" class="btn">
            <h3 class="text-white">
                <%= post.title %>
            </h3>
            <p class="text-secondary">
                <%- date(post_time, 'YYYY.MM.DD' ) %>
            </p>
        </a>
        <%- partial("_components/post_tag_category_row", {post: post}) %>
    </div>